/* intro */
.intro {
  background-color: #e8e6e6;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-about-card {
  background-color: #7fa0b6;
  width: 500px;
  margin: auto;
  border-radius: 20px;
}

.intro-title {
  font-size: 50px;
  color: white;
  font-weight: 500;
  padding-top: 20px;
}

.intro-logo-img {
  transform: scale(0.13);
  margin: -500px;
  border-radius: 50%;
}

.intro-text {
  font-size: 18px;
  padding: 20px;
}

.intro-join-button {
  padding: 20px 0 40px 0;
  transition: transform 0.4s, opacity 0.4s;
}

.intro-join,
.intro-join:visited {
  background-color: #284063;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.intro-join-button:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.4s, opcaity 0.4s;
}

@media (max-width: 600px) {
  .intro-about-card {
    width: 80vw;
  }

  .intro-title {
    font-size: 40px;
  }
}

/* posts */
.posts {
  padding-top: 60px;
  margin: auto;
}
.posts-title {
  font-size: 35px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.posts-search-bar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-search-bar {
  padding: 15px 15px;
  border-radius: 30px;
  border: 1px solid #f1faee;
  background-color: #f1faee;
  width: 85%;
  font-size: 18px;
}

.search-btn {
  color: #284063;
  margin-top: -5px;
  transition: transform 0.4s, opacity 0.4s;
}

.search-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.4s, opacity 0.4s;
}

.posts-search-icon {
  transform: scale(2);
  margin-left: -45px;
  margin-top: -4px;
}

.posts-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin: auto;
  width: 80%;
}

.posts-section {
  text-decoration: none;
  color: white;
  background-color: #284063;
  padding: 10px 20px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  transition: transform 0.4s, opacity 0.4s;
  margin-left: -4px;
}

.posts-dropdown-btn {
  text-decoration: none;
  color: white;
  background-color: #284063;
  padding: 10px 15px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  transition: transform 0.4s, opacity 0.4s;
}

/* posts dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  padding-right: 20px;
  margin-left: -20px;
}

.dropdown-section {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #284063;
  padding: 10px 15px;
  margin: auto;
  text-align: center;
  transition: transform 0.4s, opacity 0.4s;
}

.posts-section:hover,
.posts-dropdown-btn:hover,
.dropdown-section:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.4s, oapcity 0.4s;
  cursor: pointer;
}

/* for plus button */
@media (max-width: 1000px) {
  #postsEmergingTech {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .posts-sections {
    width: 75%;
  }
}

@media (max-width: 800px) {
  #postsSmartCities {
    display: none;
  }
}

@media (max-width: 550px) {
  #postsCovid {
    display: none;
  }
}

/* filter buttons */
.filterElements {
  display: none;
}

.show {
  display: block;
}

/* posts content cards */
.posts-cards {
  width: 90%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post-card {
  width: 100%;
  margin: auto;
  padding-bottom: 7%;
}

.post-img {
  width: 90%;
  height: auto;
  margin: auto;
  transition: transform 0.3s ease-in-out, -webkit-filter 0.3s linear;
}

.post-img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem white);
  transition: transform 0.3s ease-in-out, -webkit-filter 0.3s linear;
}

@media (max-width: 800px) {
  .posts-cards {
    padding-top: 40px;
    width: 95%;
  }
}

/* popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  background-color: #fefefe;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  padding: 20px;
  width: 60%;
  border-radius: 20px;
}

.modal-posts-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 700px) {
  .modal-content {
    width: 85%;
  }
}
