/* intro */
.intro {
  background-color: #e8e6e6;
  padding: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-about-card {
  background-color: #7fa0b6;
  width: 500px;
  margin: auto;
  border-radius: 20px;
}

.intro-title {
  font-size: 50px;
  color: white;
  font-weight: 500;
  padding-top: 20px;
}

.intro-logo-img {
  transform: scale(0.13);
  margin: -500px;
  border-radius: 50%;
}

.intro-text {
  font-size: 18px;
  padding: 20px;
}

.intro-join-button {
  padding: 20px 0 40px 0;
  transform: scale(1);
  transition: transform 0.5s;
}

.intro-join,
.intro-join:visited {
  background-color: #284063;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.intro-join-button:hover {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  transform: scale(1.05);
  transition: transform 0.5s;
}

@media (max-width: 600px) {
  .intro-about-card {
    width: 80vw;
  }

  .intro-title {
    font-size: 40px;
  }
}

/* posts */
.posts {
  padding: 60px;
  margin: auto;
}
.posts-title {
  font-size: 35px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.posts-search-bar-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-search-bar {
  padding: 15px 15px;
  border-radius: 30px;
  border: 1px solid #f1faee;
  background-color: #f1faee;
  width: 85%;
  font-size: 18px;
}

.search-btn {
  color: inherit;
  margin-top: -5px;
  transform: scale(1);
  transition: transform .5s;
}

.search-btn:hover {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  transform: scale(1.05);
  transition: transform .5s;
}

.posts-search-icon {
  transform: scale(2);
  margin-left: -45px;
  margin-top: -4px;
}

.posts-sections {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin: auto;
  width: 80%;
}

.posts-section {
  text-decoration: none;
  color: white;
  background-color: #284063;
  padding: 10px 20px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  transform: scale(1);
  transition: transform 0.5s;
}

.posts-dropdown-btn {
  text-decoration: none;
  color: white;
  background-color: #284063;
  padding: 10px 15px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  transform: scale(1);
  transition: transform 0.5s;
}

.posts-section:hover,
.posts-dropdown-btn:hover,
.dropdown-section:hover {
  opacity: 0.8;
  transition: opacity 200ms ease-in-out;
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* posts dropdown */
.dropdown-section {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #284063;
  padding: 10px 20px;
  margin: auto;
  text-align: center;
  transform: scale(1);
  transition: transform 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-right: 10px;
}

/* for plus button */
@media (max-width: 1150px) {
  #posts-biotech {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media (max-width: 1000px) {
  #posts-covid {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media (max-width: 850px) {
  #posts-compsci {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media (max-width: 600px) {
  #posts-engineering {
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-section {
    margin-left: -10px;
  }
}

/* posts content cards */
.posts-cards {
  width: 95%;
  margin: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.post-card {
  width: 100%;
  margin: auto;
  padding-bottom: 25px;
}

.post-img {
  width: 90%;
  height: auto;
  margin: auto;
  margin-left: 5%;
}

/* @media (max-width: 1000px) {
  .post-img {
    width: 90%;
  }
} */
/* 
@media (max-width: 750px) {
  .posts-cards {
    margin-top: 40px;
  }

  .post-img {
    margin-bottom: 30px;
    margin-left: 5%;
  }

  .row {
    display: grid;
  }
} */
