button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* application process */
.application-process {
  padding: 40px 5vw 50px 5vw;
}

.application-process-title {
  font-size: 38px;
  color: #cb564f;
  padding-bottom: 40px;
}

.application-intro {
  margin-bottom: 30px;
}

.application-list-title {
  color: #284063;
  margin-bottom: 3px;
  font-weight: 700;
}

.list {
  padding-left: 40px;
}

.application-list-item {
  margin-bottom: 20px;
}

/* department cards */
.department-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.department {
  display: grid;
  justify-content: center;
  align-items: center;
}

.department-card {
  background-color: #f1faed;
  width: 25vw;
  border-radius: 15px;
}

.department-card-img {
  width: 20vw;
  height: auto;
  display: block;
  margin: auto;
  padding: 20px 0;
}

.department-title-text {
  margin-top: 20px;
  padding: 5px 20px;
  background: #284063;
  border-radius: 15px;
  font-size: 28px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.department-title-btn:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .department-cards {
    margin-top: -30px;
  }

  .department-title-text {
    font-size: 3vw;
  }
}

@media (max-width: 700px) {
  .department-cards {
    display: grid;
    margin-bottom: 20px;
  }

  .department-card {
    width: 75vw;
  }

  .department-card-img {
    width: 65vw;
    height: auto;
    display: block;
    margin: auto;
    padding: 20px 0;
  }

  .department-title-text {
    font-size: 28px;
    margin-bottom: 20px;
  }
}


/* department info */
/* .department-info {
  padding: 40px 5vw 50px 5vw;
} */

.department-info-content {
  padding: 10px 0 20px 0;
  width: 95%;
  margin: auto;
}

.department-title {
  font-size: 30px;
  color: #284063;
  font-weight: 600;
  text-decoration: underline;
  padding-bottom: 20px;
}

.department-sub-title {
  font-size: 20px;
  padding-bottom: 15px;
  font-weight: 500;
}

.inline-blue-text {
  color: #284063;
  font-weight: 500;
}

.department-info-list-item {
  margin-bottom: 3px;
}

/* .department-separation-line {
  border: 0;
  border-top: 3px solid #7fa0b6;
} */
