.newsletter-section {
  display: flex;
  width: 90%;
  margin: 50px auto;
}

.newsletter-left {
  width: 50%;
}

.newsletter-img-card {
  background-color: #f1faed;
  width: 60%;
  height: 150px; /* remove/change this later */
  margin: auto auto 25px 5vw;
  border-radius: 20px;
  padding: 10px 15px;
}

.newsletter-title-card {
  background-color: #284063;
  width: 60%;
  margin: auto auto 25px 5vw;
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
  color: white;
}

.newsletter-title {
  font-weight: 500;
  font-size: 25px;
}

.newsletter-right {
  width: 90%;
  margin: 0 auto;
}

.newsletter-description {
  border: 3px solid white;
  border-radius: 20px;
  padding: 20px;
  color: white;
  margin: auto 3vw 25px auto;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 800px) {
  .newsletter-section {
    display: grid;
  }

  .newsletter-left {
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .newsletter-img-card {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .newsletter-title-card {
    margin: auto;
    width: 90%;
  }

  .newsletter-right {
    width: 85%;
    margin: auto;
  }
  
  .newsletter-description {
    margin: auto;
  }
}