.newsletter-section {
  display: grid;
  width: 75%;
  margin: 50px auto;
}

details {
  font-size: 2.1875rem;
  font-weight: bold;
  color: white;
  background: #284063;
  padding: 10px 20px;
  border-radius: 20px;
}

.newsletter-content {
  padding: 20px;
  background: white;
  border-radius: 20px;
  margin: 20px 10px 10px 10px;
  color: #414141;
  font-weight: normal;
}

.newsletter-content-title {
  font-size: 1.35rem;
  padding: 10px 0 20px 0;
  font-weight: bold;
}

.newsletter-content-text {
  font-size: 1rem;
  padding-bottom: 20px;
}

.newsletter-line {
  border: 1px solid grey;
  border-radius: 20px;
  margin-bottom: 20px;
}

.newsletter-img {
  display: block;
  margin: auto;
  width: 60%;
  margin-bottom: 20px;
}

.newsletter-signup-btn {
  background: #284063;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  margin: 10px auto 30px auto;
  transition: transform 0.4s, opacity 0.4s;
}

.newsletter-signup-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: transform 0.4s, opacity 0.4s;
}

@media (max-width: 1250px) {
  .newsletter-section {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .newsletter-img {
    width: 80%;
  }
}

/* .newsletter-left {
  width: 50%;
}

.newsletter-img-card {
  background-color: #f1faed;
  width: 60%;
  height: 150px;
  margin: auto auto 25px 5vw;
  border-radius: 20px;
  padding: 10px 15px;
}

.newsletter-title-card {
  background-color: #284063;
  width: 60%;
  margin: auto auto 25px 5vw;
  border-radius: 20px;
  padding: 10px 15px;
  text-align: center;
  color: white;
}

.newsletter-title {
  font-weight: 500;
  font-size: 25px;
}

.newsletter-right {
  width: 90%;
  margin: 0 auto;
}

.newsletter-description {
  border: 3px solid white;
  border-radius: 20px;
  padding: 20px;
  color: white;
  margin: auto 3vw 25px auto;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 800px) {
  .newsletter-section {
    display: grid;
  }

  .newsletter-left {
    width: 85%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
  }

  .newsletter-img-card {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
  }

  .newsletter-title-card {
    margin: auto;
    width: 90%;
  }

  .newsletter-right {
    width: 85%;
    margin: auto;
  }
  
  .newsletter-description {
    margin: auto;
  }
} */
