@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* banner */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7FA0B6;
}

.nav {
  background-color: #284063;
  padding: 20px 0 20px 0;
}

.nav-title {
  text-align: center;
  color: #cb564f;
  font-size: 100px;
  font-weight: 600;
  padding: 5px 15px 25px 15px;
}

.nav-line {
  border: 0;
  border-top: 2.5px solid white;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  padding: 15px;
  font-size: 18px;
  font-weight: 450;
}

.nav-link,
.nav-link:visited {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #7fa0b6;
  transition: color .3s ease-in-out;
}

@media (max-width: 600px) {
  .nav-title {
    font-size: 70px;
    padding: 0 15px 20px 15px;
  }

  .nav-links {
    font-size: 16px;
    justify-content: space-between;
  }
}

/* footer */
.footer {
  background-color: #284063;
  display: flex;
}

.footer-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.footer-logo-img {
  transform: scale(0.07);
  margin: -520px;
  border-radius: 50%;
}

.footer-title {
  font-size: 30px;
  color: #cb564f;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.footer-icon {
  padding-right: 40px;
  color: white;
  transform: scale(0.9);
}

.footer-icon-last {
  padding-right: 50px;
  color: white;
  transform: scale(0.9);
}

.footer-icon:hover, .footer-icon-last:hover {
  color: #7fa0b6;
  transition: color .3s ease-in-out;
}


@media (max-width: 650px) {
  .footer-title {
    font-size: 25px;
  }

  .footer-logo-img {
    transform: scale(0.06);
    margin-left:-535px;
    margin-right: -540px;
  }

  .footer-icon {
    transform: scale(0.7);
    padding-right: 15px;
  }

  .footer-icon-last {
    transform: scale(0.7);
    padding-right: 20px;
    padding-left: -20px;
    color: white;
  }
}
