@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* banner */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7fa0b6;
}

.nav {
  background-color: #284063;
  padding: 20px 0 20px 0;
}

.nav-title {
  text-align: center;
  color: #cb564f;
  font-size: 100px;
  font-weight: 600;
  padding: 5px 15px 25px 15px;
}

.nav-line {
  border: 0;
  border-top: 2.5px solid white;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  padding: 15px;
  font-size: 18px;
  font-weight: 450;
}

.nav-link,
.nav-link:visited {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #7fa0b6;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .nav-title {
    font-size: 70px;
    padding: 0 15px 20px 15px;
  }

  .nav-links {
    font-size: 16px;
    justify-content: space-between;
  }
}

/* footer */
.footer {
  background-color: #284063;
  display: flex;
  bottom: 0;
  left: 0;
  padding: 25px 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.footer-logo-img {
  width: 80px;
  height: auto;
  border-radius: 50%;
  margin: 0 20px 0 10px;
}

.footer-title {
  font-size: 30px;
  color: #cb564f;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.footer-icon {
  color: white;
  width: 50px;
  padding: 15px;
}

.footer-icon:hover,
.footer-icon-last:hover {
  color: #7fa0b6;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 650px) {
  .footer {
    padding: 20px 10px;
  }

  .footer-logo-img {
    width: 70px;
  }

  .footer-title {
    font-size: 25px;
  }

  .footer-icon {
    padding: 10px;
    width: 35px;
    transform: scale(0.8);
  }
}

/* universal popup code */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5px;
}

.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
